html {
    scroll-behavior: smooth;
}

body {
    background-image: url("https://images.pexels.com/photos/2365457/pexels-photo-2365457.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: auto;
        background-size: cover;
        background-color: #cccccc;
}

.main-title {
    color: #FDFFFF;
    text-align: center;
}

.main-title:hover {
    cursor: default;
}