.navbar-div {
    display: flex;
    justify-content: center;
}

.navbar-div a {
    font-size: x-large;
    transition: 0.5s;
    transition-timing-function: ease;
    border-radius: 50%;
    border: #2F2F2F solid;
    color: #2F2F2F;
    background: #FDFFFF;
    padding: 20px 15px 20px 15px;
    margin: 10px 20px 10px 20px;
}

.navbar-div a:link {
    text-decoration: none;
}

.navbar-div a:active {
    color: #FDFFFF;
}

.navbar-div a:hover {
    color: #FDFFFF;
    background: #2F2F2F;
    border-color: #2F2F2F;
}
