.all-posts-div {
    display: grid;
    grid-template-columns: auto auto auto;
    background-size: cover;
}

.post-box {
    transition: 0.5s ease;
    text-decoration: none;
    border: #2F2F2F solid;
    margin: 1rem 1rem 1rem 1rem;
    background: #FDFFFF;
    opacity: 90%;
    color: #2F2F2F;
    width: 25rem;
    height: auto;
}

.post-box:hover {
    background: black;
    color: #FDFFFF;
    border: #FDFFFF outset;
}

.post-content {
    margin: 1rem 1rem 1rem 1rem;
}

/* #post-title {
    
} */

/* #post-content {

} */

/* #post-date {

} */