.post-show-all-content {
    background: #FDFFFF;
    border: solid #2F2F2F;
    margin: 1rem 5rem 1rem 5rem;
}

#post-show-title {
    text-align: center;
}

#post-show-button {
    background: #2F2F2F;
    padding: 0.5rem;
    color: #FDFFFF;
    border: solid #2F2F2F;
}

#post-show-content {
    line-height: 2;
    padding: 1rem 3rem 1rem 3rem;
}